body{
    background-color: #d1d1d1;
}

.menu-container{
    width: 1500px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.menu-item{
    margin: 40px;
    height: 400px;
    width: 310px;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border-radius: 45px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.img-div{
    display: flex;
    justify-content: center;    
    height: 250px;
    width: 300px;
}

.menu-text{
    width: 175px;
    display: flex;
    flex-direction: column;
    text-align: center;     
}

.price{
    padding: 8px;
    color: #F16724;
}

.pizza-name{
    margin: 5px;
    padding: 8px;
    color: black;
}

.menu-img{
    clip-path: circle();
    width: 70%;
    height: 70%;
    object-fit:cover;
    position: absolute;
    top: -50px;
}